
    <h1>Créditos</h1>
    <img class="photo" src="images/bob.jpeg" alt="bob image"/>
    <br>
    <span class="description">
        El autor de esta página es Bob Esponja. 
        <br>Vive debajo de una piña en el fondo del mar y su mejor amigo es un cangrejo.
        <br>Se suele aburrir mucho y ahora le ha dado por aprender a programar aplicaciones web con nodejs.
        <br>
    </span>